# Production Environment
# Set to false for development (allows SQLite)
# Set to true for production (default value, requires PostgreSQL)
#IS_PRODUCTION=true
#APP_MODE=development
#SWAGGER_URL=/realapi-docxxx

# Database Configuration
# For development, set IS_PRODUCTION=false to allow SQLite
# For production, must use PostgreSQL
#DATABASE_URL=sqlite:///./storage/lengkeng.db
#DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# PostgreSQL Configuration
#POSTGRES_PASSWORD=lengkeng_password
#POSTGRES_USER=lengkeng_user
#POSTGRES_DB=lengkeng
#POSTGRES_HOST=postgres
#POSTGRES_PORT=5432

# RabbitMQ Configuration
#RABBITMQ_HOST=localhost
#RABBITMQ_PORT=5672
#RABBITMQ_DEFAULT_USER=rabbitmq
#RABBITMQ_DEFAULT_PASS=rabbitmq
#RABBITMQ_VHOST=/

# Qlib Prediction Queue Configuration
#QUEUE_QLIB_PREDICTIONS_READY=qlib_predictions_ready
#EXCHANGE_NAME=khengleong.direct

# Storage Directories, default value below
#UPLOAD_DIR=storage/uploads
#TEMPLATE_DIR=storage/templates
#GENERATED_DIR=storage/generated
#EXPORT_DIR=storage/exports
#LOG_DIR=storage/logs

# Security, defaule value below
#JWT_SECRET_KEY=your_secret_key_here

# CORS Configuration, defaule value below
# Default for ALLOW_CORS_LOCAL false (in production when using API Gateway)
# Comma-separated list
#ALLOW_CORS_LOCAL=true
#CORS_ORIGINS=*
#CORS_CREDENTIALS=true
#CORS_METHODS=*
#CORS_HEADERS=*

# Email SMTP Configuration for sending email notifications
# Default is values below, replace with your actual SMTP server details
# For Gmail, you may need to enable "Less secure app access" or use an App Password
# See https://support.google.com/accounts/answer/6010255?hl=en
# If not config correctly configured, email delivery will be skipped and please use DB to track OTP
#SMTP_HOST=smtp.gmail.com
#SMTP_PORT=587
#SMTP_USERNAME=
#SMTP_PASSWORD=

# CMCG API Key
#AI_API_KEY=your_ai_api_key_here
#AI_ENDPOINT=http://4.194.234.149:8000
#MOCK_EXTERNAL_API=true

# Azure OpenAI
#AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
#AZURE_OPENAI_ENDPOINT=https://ai-khengleong.openai.azure.com
#OPENAI_API_VERSION=2024-12-01-preview
#AZURE_LLM_DEPLOYMENT=gpt-4.1
#AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large